body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popover{
  border: 3px solid #6B6FFF !important;
  border-radius: 3% !important;
}

.popover-header{
  background-color: #3A3F91 !important;
  color: white;
}

.popover.bs-popover-top .popover-arrow:after {
  border-top-color: #3A3F91;
}

.popover.bs-popover-end .popover-arrow:after {
  border-right-color: #3A3F91;
}

.popover.bs-popover-bottom .popover-arrow:after {
  border-bottom-color: #3A3F91;
}

.popover.bs-popover-start .popover-arrow:after {
  border-left-color: #3A3F91;
}

.app {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

oari-blue {
  color: #3A3F91;
}

oari-purple {
  color: #6B6FFF
}

.blue-background {
  background-color: #3A3F91;
}

.white-text{
  color: white;
}

.nav-link{
  color: white !important;
}

.dropdown-menu {
  background-color: #3A3F91 !important;
}

.tooltip {
  background-color: #3A3F91 !important;
  text-align: left;
}

.center-text{
  text-align: center;
}

.purple-button{
  background-color: #3A3F91;
}

.purple-text{
  color: #3A3F91;
}
